
@font-face {
    font-family: 'VALORANT';
    font-style: normal;
    font-weight: 400;
    src: local('VALORANT'), url('/Resources/Valorant Font.woff') format('woff');
}

@font-face {
    font-family: 'Tungsten';
    font-style: normal;
    font-weight: 400;
    src: url('/Resources/Tungsten-Bold.woff');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family:"Tungsten", sans-serif;
}

body {
    max-width: 100%;
    min-width: 350px;
    background-color: #fcfced ;
    font-size: 1.8rem;
}

/* Article */
.background {
    width: 100%;
    background-image: url('/Resources/aboutUsBackground.jpg');
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    z-index: 10;
    margin-bottom: 10vh;
}

.pageName{
    font-family:'Valorant', sans-serif;
    /* color:#ff4655; */
    left:50%;
    top:25%;
    transform:translate(-50%,0%);
    position:absolute;
    font-size:2.5rem;
}

.article{
    margin-right: 10%;
    margin-left:10%;
}

.articleName{
    font-size:2.5rem;
}

.imgContainer{
    width:100%;
}

img{
    width:100%;
    /* transform: translate(5%,0%); */
    padding-top:7%;
    padding-bottom:7%;
}

img img{
    margin-top:0%;
}

.imgAnchor{
    width:80vw;
    
}

.imgAnchor :hover{
    background-color:#ff4655;
    height:auto;
    transition: .5s ease;
}

.articleText{
    color:gray;
    margin-top: 5%;
    margin-bottom: 5%;

}

@media screen and (min-width:1100px){
    .articleText{
        padding-left:20%;
        padding-right:20%;   
    }
}

@media screen and (min-width:400px){
    img{
        width:90%;
        transform:translate(5%,0%);
    }
}

/* Header----------------------------------- */

.header-container {
    font-family: 'Valorant', sans-serif;
    display: flex;
    position: fixed;
    background-color: #111;
    width: 100%;
    height: 3.9rem;
    z-index: 11;
}

.logo-nav {
    width: 3rem;
    margin-top: 10px;
}

#navList a,
.dropbtn {
    float: left;
    color: #f2f2f2;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    border: none;
    outline: none;
    z-index: 15;
}

#navList a:hover {
    background-color: #3a3b3c;
    height: 100%;
}

ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-flex-flow: row wrap;
}

.move-left-logo {
    padding-left: 2.5vw;
}

.move-right-navs {
    justify-content: right;
    display: inline-flex;
    margin-left: 10rem;
    position: fixed;
    right: 7vw;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3a3b3c;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 100;
    top: 100%;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.dropdown-content a {
    background-color: black;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 105;
    width: 100%;
    font-size: 3rem;
}

.openbtn {
    font-size: 1.4rem;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 0.8rem;
    padding-bottom: 1.23rem;
    padding-right: 1.375rem;
    padding-left: 1.375rem;
    border: none;
}

.openbtn:hover {
    background-color: #444;
    height: 100%;
    width: 100%;
}

.show {
    display: block;
}

.active {
    background-color: #f1f1f1;
    color: black !important;
}

@media only screen and (max-width: 931px) {
    .logo-nav {
        width: 2.3rem;
        margin-top: 15px;
        margin-left: 5px;
    }

    .contact-nav,
    .home-nav,
    .agents-nav,
    .news-nav,
    .about-nav {
        display: none;
    }

    .openbtn {
        padding: 0.9rem;
    }
}

/* Scrollbar on dropdown(header also)-------------------- */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 0, 0, 0.8);
}

/* Sidemenu(header also)-------------------------------- */

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    z-index: 20;
}

.sidebar a {
    width: 100%;
    padding: 0.5rem;
    font-family: "Valorant", sans-serif;
    float: left;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-right: 50px;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}


/* Footer-------------------------------------------------------------- */

.footer-container {
    font-family:"Valorant", sans-serif;
    background-color: #111;
    padding: 4rem 0 2rem 0;
    box-sizing: border-box;
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: none;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 1.9rem;
    margin-left: 1.9rem;
    width: 7rem;
    height: 100%;
}

.white-logo img {
    width: 4rem;
    display: flex;
    margin-top: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.footer-email-form {
    margin-bottom: 3rem;
}

.newsletterJoin {
    font-size: 1rem;
    margin-bottom: 4px;
}

#footer-email {
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-btn {
    width: 100px;
    height: 40px;
    background-color: #dc3d4b;
    border: none;
    color: #f1f1f1;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #364966;
    transition: all 0.2s ease-out;
}

.signiture {
    text-align: center;
    font-size: 1rem;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
}

@media screen and (min-width: 1200px) {
    .footer {
        height: 20vh;
    }
}

@media screen and (max-width: 1150px) {
    .footer {
        height: 100%;
    }

    .footer-email-form {
        margin-top: 2rem;
    }
}

@media screen and(max-width: 820px) {
    .footer {
        padding-top: 2rem;
    }
}

@media screen and(max-width: 720px) {
    .footer-email-form {
        margin-top: 2rem;
    }

    .footer-email-form {
        margin-left: 2rem;
        margin-right: 2rem
    }
}
